.history
4dgen_booth
CVPR2024_material
CVPR2024_Supp
dataset/data/objaverse
camerabooth/exp*/
3D_Recon/threestudio/exp*/
3D_Recon/threestudio/experiments_summarized.zip
3D_Recon/threestudio/my_folders.zip
**/*.zip
**/*.mp4
**/*.pth
**/*.ckpt
relposepp/.history
relposepp/ckpt*/
relposepp/data
relposepp/finetune_best*/
CLIP/
run_pipeline_mission_four_debug.sh
dataset/data/objaverse.tar.gz
**/*.tar.gz
**/*.pth.tmp
results
run_pipelin_.sh
run_pipelin_.py